[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-lint = "*"

[packages]
ansible = "~=11.5"

[requires]
python_version = "3.11"

[scripts]
install = "ansible-galaxy install -r requirements.yml"
setup_certificate = "ansible-playbook setup_certificate.yml"
setup = "ansible-playbook setup.yml"
lint = "ansible-lint ./"
